<a type="button" href="/admin/dashboard" class="btn btn-outline-primary">農產</a>
<a type="button" href="/admin/news" class="btn btn-outline-secondary">新聞</a>
<a type="button" href="/admin/profile" class="btn btn-outline-success">會員資料</a>
{{#if user.role}}
<a type="button" href="/admin/members" class="btn btn-outline-info">成員</a>
<a type="button" href="/admin/categories" class="btn btn-outline-info">Category</a>
{{/if}}

<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">
  新增
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/admin/agrifoods/create">農產</a>
  <a class="dropdown-item" href="/admin/news/create">新聞</a>
  {{#if user.role}} <a class="dropdown-item" href="/admin/categories/create">Category</a>{{/if}}
</div>

<br class="featurette-divider">
<br class="featurette-divider">

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-5">
      <!--
        <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
          dy=".3em">Image</text>
      </svg>
      style="width: 250px;margin-bottom: 25px;"
      -->
      <img class="img-responsive center-block card-img-top" src="{{agrifood.image}}">

    </div>
    <div class="col-md-7">
      <div class="card-body">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">產品名稱</span>
          </div>
          <p class="form-control">{{agrifood.name}}</p>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">產品詳情</span>
          </div>
          <p class="form-control">{{agrifood.description}}</p>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">規格</span>
          </div>
          <p class="form-control">{{agrifood.norm}}</p>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">運費</span>
          </div>
          <p class="form-control">{{agrifood.freight}}</p>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">售價</span>
          </div>
          <p class="form-control">{{agrifood.price}}</p>
        </div>



      </div>
    </div>
  </div>
</div>

<a class="btn btn-outline-primary" class="card-link" href="/admin/agrifoods/{{agrifood.id}}/edit" role="button">編輯</a>
<a class="btn btn-outline-primary" href="javascript:history.back()" role="button">回上一頁</a>