<div class="container">
  <br class="featurette-divider">
  <br class="featurette-divider">
  <br class="featurette-divider">

  <div class="btn-group container justify-content-center"
    style="position: fixed;  top:6rem; width:100%; z-index: 10; padding-left:0">
    <a type="button" href="/admin/dashboard" class="btn btn-secondary ">農產</a>
    <a type="button" href="/admin/news" class="btn btn-secondary ">新聞</a>
    <a type="button" href="/admin/profile" class="btn btn-secondary ">Profile</a>
    {{#if user.role}}
    <a type="button" href="/admin/members" class="btn btn-secondary ">members</a>
    <a type="button" href="/admin/categories" class="btn btn-secondary ">Category</a>
    {{/if}}

    <button class="btn btn-secondary dropdown-toggle dropdown" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      新增
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/admin/agrifoods/create">農產</a>
      <a class="dropdown-item" href="/admin/news/create">新聞</a>
      {{#if user.role}} <a class="dropdown-item" href="/admin/categories/create">Category</a>{{/if}}
    </div>
    <a type="button" href="/logout" class="btn btn-secondary ">LogOut</a>
  </div>

  {{!-- <div class="btn-group container justify-content-center"
    style="position: fixed;  top: 8.6rem; width:100%; z-index: 10; padding-left:0">
    {{#if categorys}}

    <a type="button" class="btn btn-outline-info {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>

    {{#each categorys}}
    <a type="button" class="btn btn-outline-info {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
    {{/each}}


    {{/if}}
  </div> --}}

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable2");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>

  <br class="featurette-divider">
  <br class="featurette-divider">

  <table id="myTable2" class="table table-striped">
    <thead>
      <tr>
        {{#if agrifoods}}
        <th scope="col">id</th>
        <th scope="col" onclick="sortTable(1)">name</th>
        <th scope="col" onclick="sortTable(2)">Category</th>
        <th scope="col" onclick="sortTable(3)">date</th>
        {{else}}
        <th scope="col">id</th>
        <th scope="col" onclick="sortTable(1)">name</th>
        <th scope="col" onclick="sortTable(2)">date</th>
        {{/if}}
        {{#if members}}
        <th scope="col" onclick="sortTable(3)">approved</th>
        {{/if}}
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each agrifoods}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <a href="/admin/agrifoods/{{this.id}}">
            {{this.name}}
          </a>
        </td>
        <td>{{this.Category.name}}</td>
        <td>{{moment this.updatedAt}}</td>
        <td>
          <form action="/admin/agrifoods/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              <!--delete botton-->
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  clip-rule="evenodd" />
              </svg>
              <!--delete botton-->
            </button>
          </form>
        </td>
      </tr>
      {{/each}}

      {{#each newses}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <a href="/admin/newses/{{this.id}}">
            {{this.name}}
          </a>
        </td>

        <td>{{moment this.updatedAt}}</td>

        <td>
          <form action="/admin/newses/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              <!--delete botton-->
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  clip-rule="evenodd" />
              </svg>
              <!--delete botton-->
            </button>
          </form>
        </td>
      </tr>
      {{/each}}

      {{#each members}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <a href="/admin/members/{{this.id}}">
            {{this.name}}
          </a>
        </td>

        <td>{{moment this.updatedAt}}</td>
        <td>
          <form action="/admin/members/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link p-0">
              {{#if this.approved}}
              yes
              {{else}}
              no
              {{/if}}
            </button>
          </form>
        </td>
        <td>
          <form action="/admin/members/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              <!--delete botton-->
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  clip-rule="evenodd" />
              </svg>
              <!--delete botton-->
            </button>
          </form>
        </td>
      </tr>
      {{/each}}

      {{#each categories}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <a href="/admin/categories/{{this.id}}">
            {{this.name}}
          </a>
        </td>

        <td>{{moment this.updatedAt}}</td>
        <td>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              <!--delete botton-->
              <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  clip-rule="evenodd" />
              </svg>
              <!--delete botton-->
            </button>
          </form>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>