<div class="container">
  <br class="featurette-divider">
  <br class="featurette-divider">
  <br class="featurette-divider">

  <div class="btn-group container justify-content-center"
    style="position: fixed;  top:6rem; width:100%; z-index: 10; padding-left:0">
    <a type="button" href="/admin/dashboard" class="btn btn-secondary ">農產</a>
    <a type="button" href="/admin/news" class="btn btn-secondary ">新聞</a>
    <a type="button" href="/admin/profile" class="btn btn-secondary ">Profile</a>
    {{#if user.role}}
    <a type="button" href="/admin/members" class="btn btn-secondary ">members</a>
    <a type="button" href="/admin/categories" class="btn btn-secondary ">Category</a>
    {{/if}}

    <button class="btn btn-secondary dropdown-toggle dropdown" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      新增
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/admin/agrifoods/create">農產</a>
      <a class="dropdown-item" href="/admin/news/create">新聞</a>
      {{#if user.role}} <a class="dropdown-item" href="/admin/categories/create">Category</a>{{/if}}
    </div>
    <a type="button" href="/logout" class="btn btn-secondary ">LogOut</a>
  </div>

  <br class="featurette-divider">
  <br class="featurette-divider">
  <br class="featurette-divider">
  <br class="featurette-divider">

  <form>
    <div class="form-group">
      <label for="exampleInputName">機構名稱</label>
      <input type="text" name="name" readonly class="form-control" value="{{profile.name}}">
    </div>
    <div class="form-group">
      <label for="phone">電話</label>
      <input type="text" name="phone" readonly class="form-control" value="{{profile.phone}}">
    </div>
    <div class="form-group">
      <label for="address">地址</label>
      <input type="text" name="address" readonly class="form-control" value="{{profile.address}}">
    </div>
    <div class="form-group">
      <label for="atm">ATM</label>
      <input type="text" name="atm" readonly class="form-control" value="{{profile.ATM}}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="text" name="email" readonly class="form-control" value="{{profile.email}}"
        aria-describedby="emailHelp">
    </div>
    {{#unless user.role}}
    <a class="btn btn-outline-primary" class="card-link" href="/admin/profile/{{profile.id}}/edit"
      role="button">編輯</a>{{/unless}}
    <a class="btn btn-outline-primary" href="javascript:history.back()" role="button">回上一頁</a>
  </form>
</div>