<div class="container">

  <div class="btn-group container justify-content-center"
    style="position: fixed;  top: 6rem; width:100%; z-index: 10; ">
    <a type="button" class="btn btn-secondary {{#ifCond '' categoryId}}active{{/ifCond}} " href="?categoryId=">全部</a>
    {{#each categorys}}
    <a type="button" class="btn btn-secondary {{#ifCond this.id ../categoryId}}active{{/ifCond}} "
      href="?categoryId={{this.id}}">{{this.name}}</a>
    {{/each}}
  </div>

  <br class="featurette-divider">
  <div class="card-deck row justify-content-center">
    {{#each agrifoods}}
    <div class="col-10 col-sm-4 mb-4 ">
      <div class="card">
        <a href="/agrifoods/{{this.id}}"> <img src="{{this.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="text-muted">$ {{this.price}}</p>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
</div>