<div class="container">
  <!--Products-->
  <h2 class="mb-10 text-center">Best Sellers</h2>
  <br class="featurette-divider">
  <div class="card-deck row">
    {{#each agrifoods}}
    <div class="col-12 col-sm-4 mb-4">
      <div class="card">
        <a href="/agrifoods/{{this.id}}"><img src="{{this.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="text-muted">$ {{this.price}}</p>
        </div>
      </div>
    </div>

    {{/each}}

  </div>


  <hr class="featurette-divider">
  <h2 class="mb-10 text-center" id="news">News</h2>
  <br class="featurette-divider">
  <div class="card-deck row">
    {{#each news}}
    <div class="col-12 col-sm-4 mb-4">
      <div class="card">
        <a href="/news/{{this.id}}"><img src="{{this.image}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{moment this.createdAt}}</small>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  <br class="featurette-divider">
  <br class="featurette-divider">
</div>
<!--/.container-->

<nav id="navbar-example2" class="navbar navbar-expand-sm navbar-secondary bg-secondary footer">


  <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="navbarSupportedContent">
    <li class="nav-item ">
      <p>版權© 2020 原鄉農產協會</p>
    </li>
  </ul>

</nav>